.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background: white;
    border-radius: 8px;
    padding: 16px;

    font-size: 14px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;

    margin-bottom: 8px;
    margin-top: 8px;
}

.Tags{
    display: flex;
    justify-content: center;
}