.HeaderIcons {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.Logo,
.AddButton {
  width: 56px;
  text-align: center;
}

.Logo img {
  /* display: ; */
  width: 45px;
}

.Avatar img {
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #ED4D77;
}

.Text {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  color: white;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.Hello {
  font-size: 24px;
  margin-top: 16px;
}
.Email {
  font-size: 12px;
  opacity: 50%;
  margin-bottom: 16px;
}